<app-header (buttonClicked)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row" *ngIf="loadedFeature == 'default'">
        <p>Please select an area to look at from the nav.</p>
      </div>
      <div class="row" *ngIf="loadedFeature == 'server-management'">
        <app-server-management></app-server-management>
      </div>
      <div class="row" *ngIf="loadedFeature == 'game-control'">
        <app-events-game></app-events-game>
      </div>
      <div class="row" *ngIf="loadedFeature == 'highlight-directive'">
        <app-highlight-directive></app-highlight-directive>
      </div>
      <div class="row" *ngIf="loadedFeature == 'account-management'">
        <app-account-management></app-account-management>
      </div>
    </div>
  </div>
</div>

